<DOCTYPE html>
    <html>
        <head>
            <title> Emotion Detection </title>
        </head>
        
        <body style="background-color:powderblue;">
            <h1 style="color:black" class="text-center"> SARB'S EMOTION DETECTOR</h1>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

            <form class= "p-3 text-center" action='/', method="post" enctype="multipart/form-data">
                <input class="form-control" type="file" name="imagefile" >
                <input class="btn btn-primary mt-3" type="submit" value="Predict Image" >
            </form>
            
        </body>
        
    </html>
        

   